username,password,first_name,last_name,period,student_id,grade_level
jsmith,CyberDefender2026!,Jane,Smith,1,010101,11
bwilliams,SecurePass321!,Bob,Williams,1,676767,10
cwang,CryptoShield88!,Carlos,Wang,3,424242,12
